{
  "extends": ["eslint-config-airbnb-base", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["client", "node_modules"]
          }
        }
      }
    }
  }
}
