:root {
  --color-primary: #265569;
  --color-primary-dark: #436b7d;
  --color-accent: #81b3aa;
  --color-accent-dark: #546d8f;
  --black: #13161d;
  --grey-1: #999;
  --white: #ebefed;

  /* feedback */
  --color-success: #449e65;
  --color-error: #f44336;
  --color-warning: #c28e2d;

  /* typography */
  --color-text: var(--black);
  --color-text-light: var(--white);
  --color-text-heading: var(--color-primary);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);

  /* forms */
  --form-element-border: var(--color-border);

  /* buttons */
  --btn-primary-bg: var(--color-primary);
  --btn-primary-text: var(--white);
  --btn-primary-hover-bg: var(--color-accent);
  --btn-primary-hover-text: var(--white);
  --btn-default-bg: var(--grey-1);
  --btn-default-text: var(--white);

  /* others */
  --color-body: var(--white);
  --color-border: var(--color-accent);
  --color-loader: var(--color-accent-dark);
}

body {
  color: var(--color-text);
  background: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-text-heading);
}

a {
  color: var(--color-link);

  &:visited {
    color: var(--color-link-visited);
  }
}
