.dark-mode {
  --color-primary: #95aeb7;
  --color-primary-dark: #223853;
  --color-accent: #e8b744;
  --color-accent-dark: #b25b47;
  --black: #fdfcfc;
  --grey-1: #999;
  --white: rgb(20, 32, 45);

  /* typography */
  --color-text: var(--black);
  --color-text-light: var(--white);
  --color-text-heading: var(--color-primary);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);

  /* forms */
  --form-element-border: var(--color-border);

  /* buttons */
  --btn-primary-bg: var(--color-primary);
  --btn-primary-text: var(--white);
  --btn-primary-hover-bg: var(--color-accent);
  --btn-primary-hover-text: var(--white);
  --btn-default-bg: var(--grey-1);
  --btn-default-text: var(--white);

  /* others */
  --color-body: var(--white);
  --color-border: var(--color-accent);
  --color-loader: var(--color-accent-dark);
  --deck-bg: var(--color-primary-dark);
  --modal-bg: var(--color-primary-dark);
  --card-border: var(--color-primary);
  --card-border-hover: var(--color-accent);
}
