.app {
  &__container {
    width: 100%;
    margin: 50px auto;
    padding: 0 var(--space-sm);
  }

  @media (--viewport-lg) {
    &__container {
      max-width: 960px;
    }
  }

  @media (--viewport-xl) {
    &__container {
      max-width: 1140px;
    }
  }

  &__motto {
    text-align: center;
    color: var(--color-accent-dark);
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }
}
